:root{
    --main-blue: rgb(0, 48, 73); 
    --main-red: #D62828;
    --orange: #F77F00;
    --yellow: rgb(252, 191, 73);
    --beige: #EAE2B7;
    --white: white;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar1{
    background-color: var(--main-blue);
    height: 50px;
    padding: 30px;
    position: relative;
    
}

.nav2{
    background-color: white;
    border-bottom: 1px solid black;
    height: 40px;
}

.nav-link2:hover {
    border-bottom: 1px solid black;
}

.nav-link3:hover {
    border-bottom: 1px solid white;
}


.myfooter{
    background-color: var(--main-blue);
}


.my-search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.myalert{
    width: 150px;
    height: 50px;
    border-color: rgb(214, 49, 49);
    background-color: rgba(66, 147, 66, 0.611);
    margin-top: 30px;
    border: rgb(0, 0, 0) 1px solid;
}

.myh2{
    color:  #000000;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}

@media (max-width: 1025px) {
    .nav2 {
        display: none;
    }
    .my-search {
        display: none;
    }
    .navbar-nav {
        background-color: var(--main-blue);
        width: 150px;
        position: absolute;
        top: 60px;
        right: 5px;
        color: black;
        /* padding-left: 10px; */
    }
    .navbar-custom1{
        width: 162px;
    }
    
    .dropdown-title{
        padding-left: 18%;
    }
    .navbar1{
       z-index: 3 !important;
    }

    .benvenuto{
        padding-left: 13%;
    }
    

}




.page-item{
    margin-top: 100px;
    background-color: #000000;
    color: black;
}

.page-link{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.page-link:hover {
    background-color: var(--main-blue);
    color: white;
}
.page-item:active {
    background-color: var(--main-blue) !important;
    color: white;
}

.img-preview{
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
}


.myalert{
    width: 150px;
    height: 150px;
    overflow: hidden;
}


.dropdown-title{
    color: rgb(255, 255, 255);
}

.dropdown-title:hover{
    color: rgb(192, 187, 187);
}

.dropdown-title:focus{
    color: white;
    border: 1px solid white;
}



.benvenuto:focus{
    color: rgb(192, 187, 187);
    border: 1px solid white;
    border-radius: 5px;
}



.dropdown-menu {
    background-color: var(--main-blue);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100px;
  }

  
  
  .dropdown-item {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
  }
  
  .dropdown-item1 {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-decoration: none;
    margin-top: 3px;
  }
  
  .dropdown-item img {
    width: 20px;
    margin-right: 0.5rem;
  }


  .form-control3 {
    width: 250px; 
    transition: width 0.5s ease; 
    margin-left: 260px;
    border-radius: 10px;
    height: 40px;
  }
  
  .form-control3:hover {
    width: 300px; 
  }

  /* dark mode */

  .btnDarkMode{
    background-color: rgb(0, 48, 73);
    width: 60px;
    height: 60px;
    border-radius: 20px;
    border: 2px solid #EAE2B7;
    color: var(--yellow);
    position: fixed;
    bottom: 5px;
    right: 20px;
    z-index: 1;
  }

  .lightMode{
    background-color: var(--white);
    color: black;
    transition: 0,4s;
  }
/* end dark mode */
  

.price{
    font-weight: bold;
    color: var(--orange);
    display: inline-block;
    padding: 5px;
    font-size: 30px;
}

  
.boxWhite{
    background-color: white;
    height: 635px;
    border-radius: 20px;

}

.cont-1{
    max-height: 200px;
    overflow-y: auto;
    margin-top: 2rem;
  }